<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8673706602-8scdjkv6nn2sln7mgpcbmtrdqpkd9r4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8673706602-8scdjkv6nn2sln7mgpcbmtrdqpkd9r4t</string>
	<key>API_KEY</key>
	<string>AIzaSyB1AR5BHY_mYDG7_9oY_I4OCiuASRrQAg0</string>
	<key>GCM_SENDER_ID</key>
	<string>8673706602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cardiofitdashboard</string>
	<key>PROJECT_ID</key>
	<string>cardiofit-905a8</string>
	<key>STORAGE_BUCKET</key>
	<string>cardiofit-905a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8673706602:ios:112286c1273cb3c95f8013</string>
</dict>
</plist>